<div>
    <div>
        <h2>ESTIMACION DE PROYECTO DE SOFTWARE</h2>
    </div>
    <div>
        <h2>CLIENTE</h2>
        <div>{{invoice.cliente.nombre}}</div>
        <div>{{invoice.cliente.direccion}}</div>
        <div>{{invoice.cliente.requerimiento}}</div>
        <div>{{invoice.cliente.tiempo}}</div>
        <table>
            <thead>
                <th></th>
            </thead>
            <tbody>
                @for (item of invoice.cliente.roles; track $index) {
                    <tr>
                        <td>{{item.rol}}</td>
                        <td>{{item.sueldo}}</td>
                        <td>{{item.participacion}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
