<div>
    <div>
        <h1>ESTIMACION DE PROYECTO DE SOFTWARE</h1>
    </div>
    <div>
        <div>
            <h2>CLIENTE</h2>
        </div>
        <div>NOMBRE DEL CLIENTE: {{invoice.cliente.nombre}}</div>
        <div>DURACION EL PROYECTO: {{invoice.cliente.tiempo}}</div>
        <div>{{invoice.cliente.direccion}}</div>
        <div>{{invoice.cliente.requerimiento}}</div>
        <div>
            <h2>EQUIPO DE TRABAJO</h2>
        </div>
        <table>
            <thead>
                <th>ROL</th>
                <th>SUELDO</th>
                <th>CANTIDAD</th>
                <th>PARTICIPACION</th>
                <th>SUELDO A RECIBIR</th>
            </thead>
            <tbody>
                @for (item of invoice.cliente.roles; track $index) {
                    <tr>
                        <td>{{item.rol}}</td>
                        <td>{{item.sueldo}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.participacion}}</td>
                        <td>{{item.mano_obra}}</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h2>COSTOS ADICIONALES</h2>
        </div>
        <table>
            <thead>
                <th>SERVICIOS</th>
                <th>COSTO</th>
            </thead>
            <tbody>
                @for (item of invoice.infoFinanzas.costos_ad; track $index) {
                    <tr>
                        <td>{{item.nombre}}</td>
                        <td>{{item.monto}}</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h2>TOTAL PROYECTO</h2>
        </div>
        <table>
            <thead>
                <th></th>
            </thead>
            <tbody>
                @for (item of invoice.infoFinanzas.costos_ad; track $index) {
                    <tr>
                        <td>{{item.nombre}}</td>
                        <td>{{item.monto}}</td>
                    </tr>
                }
            </tbody>
        </table>
        <table>
            <thead>
                <th></th>
            </thead>
            <tbody>
                @for (item of invoice.infoFinanzas.total_proyecto; track $index) {
                    <tr>
                        <td>{{item.nombre}}</td>
                        <td>{{item.monto}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
